.header{
  background-color:#e9e6e2;
}

.header,.nav ul{
    display: flex;
    justify-content: space-between;
}

.nav, .header p{
    padding: 10px 10px 0 10px;
}
.nav ul{
    width: 300px;
}

.nav a{
    color: gray;
    padding: 4px; 
    text-decoration: none;
}

.active{
    border: 1px solid gray;
}
